:root{
    --dark-green: #132a13ff;
    --hunter-green: #31572cff;
    --fern-green: #4f772dff;
    --moss-green: #90a955ff;
    --mindaro: #ecf39eff;
}

body {
    background-image: url('img/Amazon.jpg');
    background-size: cover;
    background-position: center; /* A imagem será centralizada */
    background-attachment: fixed; /* A imagem de fundo ficará fixa ao rolar a página */
    color: #333; /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Definindo uma fonte */
}

/* Outros estilos para garantir que o conteúdo tenha uma boa aparência sobre o fundo */
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para melhorar a legibilidade */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do cabeçalho para destacar sobre o fundo */
.section-title {
    color: #28a745;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Estilo dos outros elementos (botões, etc) */
.btn-submit {
    background-color: #28a745;
    border: none;
    border-radius: 25px;
}
.btn-submit:hover {
    background-color: #218838;
}

footer {
    background-color: #28a745;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer-links a:hover {
    text-decoration: underline;
}
.social-icons i {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.social-icons i:hover {
    color: #ddd;
}